<h4>Nouvelle réponse de <%= @answer.name %></h4>
<p>Son email est <%= @answer.email %></p>

<h4>Ses réponses :</h4>
<h5>DEJEUNER</h5>
<p>Sera-t-il présent au déjeuner ? <%= @answer.answer_dejeuner ? "Oui" : "Non" %></p>
<p>Combien de personnes au déjeuner ? <%= @answer.nb_dejeuner %></p>
-------
<h5>DINER</h5>
<p>Sera-t-il présent au diner ? <%= @answer.answer_diner ? "Oui" : "Non" %></p>
<p>Combien de personnes au déjeuner ? <%= @answer.nb_diner %></p>
-------
<h5>BRUNCH</h5>
<p>Sera-t-il présent au brunch ? <%= @answer.answer_brunch ? "Oui" : "Non" %></p>
<p>Combien de personnes au brunch ? <%= @answer.nb_brunch %></p>
